body,html{padding:0;font-family:Verdana,sans-serif}a{color:red4}
.dark-theme{background:#1C262B;color:#B6C2DD}
.main_footer,.main_header{background-color:#BA9D69;margin:0;padding:4px;color:#444}
.post{margin:32px}
.featured{color:#fff}