<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- 	
	<link rel="stylesheet" href="css/base.css" type="text/css" media='all' />
	<link rel="stylesheet" href="css/layout.css" type="text/css" media='all' />
	<link rel="stylesheet" href="css/module.css" type="text/css" media='all' />
	<link rel="stylesheet" href="css/state.css" type="text/css" media='all' />
	<link rel="stylesheet" href="css/dark-theme.css" type="text/css" media='all' />
 -->	
 	<link rel="stylesheet" href="css/all.css" type="text/css" media='all' />
	<title>Gulped Site</title>
</head>

<body class="dark-theme">

	<header class="main_header">
		<nav>
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Contacts</li>
			</ul>
		</nav>
	</header>

	<section>
	
		<article class="post featured">
			<header>
				<h2>Why use Gulp?</h2>
				<p>Posted on <time datetime="2016-05-04T16:31:24+02:00">May 4th 2016</time> by <a href="#">Valerio Ferrucci</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</article>
		
		<article class="post">
			<header>
				<h2>Why use CSS?</h2>
				<p>Posted on <time datetime="2016-05-04T16:31:24+02:00">May 4th 2016</time> by <a href="#">Valerio Ferrucci</a> - <a href="#comments">6 comments</a></p>
			</header>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</article>
		
	</section>

	<footer class="main_footer">
		<p>Copyright 2016 Valerio Ferrucci</p>
	</footer>

</body>

</html>